* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f8f8f8;
  color: #0f1115;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

input, textarea, select {
  font-family: inherit;
  outline: none;
}
